.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.winner {
    color: rgb(101, 179, 101);
}
.looser {
    color: rgb(189, 54, 54);
}
.visitsecondtime {
    color: rgb(206, 206, 58);
}
